<h5 class="mb-3">Navigation</h5>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tasks:task-list' %}">📋 Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tasks:worker-list' %}">👥 Workers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tasks:position-list' %}">💼 Positions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tasks:task-type-list' %}">🧩 Task Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tasks:tag-list' %}">🏷 Tags</a>
    </li>
</ul>
