{% extends "base.html" %}
{% block content %}
<h2>💼 Positions</h2>
<a href="{% url 'tasks:position-create' %}" class="btn btn-primary mb-3">+ Add</a>

<ul class="list-group">
{% for position in position_list %}
    <li class="list-group-item d-flex justify-content-between">
        <a href="{% url 'tasks:position-detail' position.pk %}">
            {{ position.name }}
        </a>
        <span>
            <a href="{% url 'tasks:position-update' position.pk %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'tasks:position-delete' position.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </span>
    </li>
{% endfor %}
</ul>
{% endblock %}
