{% extends "base.html" %}
{% block content %}
<h2>🏷 Tags</h2>
<a href="{% url 'tasks:tag-create' %}" class="btn btn-primary mb-3">+ Add</a>

<ul class="list-group">
{% for tag in tag_list %}
    <li class="list-group-item d-flex justify-content-between">
        <a href="{% url 'tasks:tag-detail' tag.pk %}">
            {{ tag.name }}
        </a>
        <span>
            <a href="{% url 'tasks:tag-update' tag.pk %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'tasks:tag-delete' tag.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </span>
    </li>
{% endfor %}
</ul>
{% endblock %}
